* {
	font-family: "Segoe UI", "Helvetica Neue", AppleGothic ,sans-serif;
	transition: all .2s;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow: auto;
	color: #444;
	font-size: 20px;
	width: 100%;
	min-height: 100vh;
}

div.wrap {
	display: block;
	max-width: 800px;
	margin: auto;
	margin-top: 40vh;
  transform: translateY(-40%);
}


/* header */

@keyframes pattern {
  from {background-position: 0%}
  to {background-position: 50%}
}

header {
	overflow: hidden;
	height: 2.5em;
}

header .geopattern {
	width: 2.5em;
	height: 2.5em;
	border: 0;
	background: #444;
	background-size: 50%;
	background-position: 0%;
	animation: none;
}



header input {
	border: 0;
	padding: .5em;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: bold;
	outline: 0;
}

textarea {
	display: block;
	border: 0;
	width: calc(100% - 2em);
	height: 50vh;
	min-height: 200px;
	margin: auto;
	padding: 1em;
	font-size: 1em;
	transition: height 0s;
	resize: vertical;
	outline: 0;
}


body.dark {
	background: #111;
}

body.dark textarea,
body.dark .settings > div button.param,
body.dark header input,
body.dark header .submit,
body.dark .confirm,
body.dark .cancel,
body.dark .eraseconf span {
	background: #333;
	color: #eee;
}
