* {
	font-family: courier, "Segoe UI", "Helvetica Neue", AppleGothic ,sans-serif;
	transition: all .2s;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow: auto;
	color: #444;
	font-size: 20px;
	width: 100%;
}

div.wrap {
	display: block;
	max-width: 800px;
	margin: auto;
	margin-top: 35vh;
  transform: translateY(-40%);
}


/* header */

header {
	overflow: hidden;
	height: 2.5em;
}

header .geopattern {
	width: 2.5em;
	height: 2.5em;
	border: 0;
	background: #444;
	background-size: 200%;
	filter: grayscale(.5);
}

header > div {
	display: inline-flex;
}

header input {
	border: 0;
	padding: .5em 1em;
	line-height: 1.5em;
	font-size: 1em;
	font-weight: bold;
	outline: 0;
	text-transform: lowercase;
}

textarea {
	display: block;
	border: 0;
	width: calc(100% - 2em);
	height: 50vh;
	min-height: 200px;
	margin: -1px auto 0 auto;
	padding: 1em;
	font-size: 1em;
	transition: height 0s;
	resize: vertical;
	outline: 0;
}


body.dark {
	background: #111;
}

body.dark textarea,
body.dark .settings > div button.param,
body.dark header input,
body.dark header .submit,
body.dark .confirm,
body.dark .cancel,
body.dark .eraseconf span {
	background: #333;
	color: #eee;
}
