

body {
	margin: 0;
	overflow: auto;
	color: #fff;
	font-family: monospace;
	background: #487962;
}

#connected {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

button,
header a {
	border: 1px solid transparent;
	background-color: transparent;
	padding: .5em;
	cursor: pointer;
	font-family: monospace;
}

div.wrap {
	display: block;
	max-width: 800px;
	margin: auto;
}

header {
	position: relative;
	max-width: 800px;
	margin: auto;
	padding: 2em 0;
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

header > div {
	display: flex;
}



#connected header button {
	color: #fff;
	padding-left: 2em;
}

header #pattern {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	margin-right: 1em;
	background-size: 200%;
}

#username {
	padding: .5em 1em;
	max-width: 200px;
	font-family: monospace;
	line-height: 1em;
	color: white;
	border: none;
	background-color: rgba(20,20,20,.1);
}

#username::-webkit-input-placeholder {
	color: #eee;
}

.dobtns {
	display: flex;
}

textarea {
	display: block;
	border: 0;
	width: calc(100% - 2em);
	height: 50vh;
	min-height: 200px;
	margin: auto;
	padding: 2em;
	font-size: 1em;
	transition: all 0s;
	resize: vertical;
	background-color: rgba(20,20,20,.1);
	color: #fff;
}

#note {
	outline: none;
}

#alertWrap {
	position: fixed;
	display: block;
	top: 2em;
	width: 100%;
	text-align: center;
	z-index: -1;
}

#alert {
	opacity: 0;
	display: inline-block;
	background-color: rgba(20,20,20,.1);
	padding: 0 2em;
	line-height: 3em;
	border-bottom: 0;
}

main.settings {
	max-width: 500px;
	min-height: calc(100vh - 5em);
	margin: auto;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.settings button {
	color: #fff;
}

.settings button:after {
	content: "  <";
	opacity: 0;
	transition: opacity .1s;
}

.settings button:hover:after {
	opacity: 1;
	transition: opacity .1s;
}

footer {
	min-height: 5em;
	text-align: center;
}

footer, footer a {
	font-size: 1rem;
	color: #fff;
}

@media only screen and (max-width: 450px) {

	h1 {
		margin-top: 1rem;
	}

	#connected header .submit {
		width: auto;
		margin: 0;
	}

	header > div {
		width: 100%;
	}

	#username {
		max-width: calc(100% - 4rem);
	}

	.loginWrap {
		margin: 2em 0;
	}

	ul li {
		display: inline-block;
		line-height: 1.2em;
	}

	.settings .catSettings {
		text-align: center;
	}
}












/* DARK MODE */



body.nit {
	background: #000;
}

body.nit * {
	color: #ddd;
}

body.nit textarea,
body.nit button,
body.nit #username,
body.nit #alert,
body.nit .settings h3,
body.nit .settings h4,
body.nit .settings .creator span,
body.nit .settings .creator a {
	color: #ddd
}