

body {
	margin: 0;
	overflow-x: hidden;
	color: #fff;
	font-family: monospace;
	background: #000;
	transition: background .2s, color .2s, zoom .2s;
}

button, a, input, textarea {color: inherit}

input::placeholder,
textarea::placeholder {
	color: inherit;
	opacity: .5;
}

input {
	padding: .5em;
	margin: 0 .5em;
	font-family: monospace;
	line-height: 1em;
	border: none;
	background-color: rgba(20,20,20,.0);
}

#connected {
	position: relative;
	width: 100%;
	max-width: 700px;
	margin: auto;
	opacity: 0;
	transition: opacity .1s;
}

#connected.loaded {
	opacity: 1;
	transition: opacity .1s;
}

button,
header a {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-family: monospace;
}

div.wrap {
	display: block;
	max-width: 800px;
	margin: auto;
}

header {
	padding: 1em;
	padding-top: 2em;
}

header > div,
header > div > .user {
	display: flex;
	justify-content: space-between;
}




header #pattern {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	margin-right: 1em;
	background-size: 200%;
}

#username {
	width: calc(7.15px * 10);
	min-width: calc(7.15px * 10);
	max-width: calc(7.15px * 32);
}



#alert {
	line-height: 3em;
	opacity: 0;
	transition: opacity .15s;
}

#alert.visible {
	opacity: 1;
	transition: opacity .15s;
}

textarea {
	display: block;
	border: 0;
	width: calc(100% - 4em);
	height: 30em;
	min-height: 5em;
	margin: auto;
	padding: 2em;
	font-size: 1em;
	transition: all 0s;
	resize: vertical;
	background-color: rgba(20,20,20,.0);
}

#note {
	outline: none;
}

#settings {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 0;
	max-height: 0;
	overflow: hidden;
	transition: padding .1s, max-height .1s;
}

#settings.open {
	max-height: 5em;
	padding-top: 2em;
	transition: padding .1s, max-height .1s;
}

#settings p {
	margin: 0;
	margin-left: 1em;
}

#settings input {
	max-width: 80px;
}

@media only screen and (max-width: 750px) {

	#username {
		max-width: calc(7.15px * 16);
	}

	#settings {
		align-items: flex-start;
	}

	#settings p,
	#settings input,
	#settings button{
		margin: 0;
		padding: 0;
	}

	#settings input {
		margin-top: .5em;
	}

	#settings button {
		line-height: 1.5em;
		text-align: right;
	}
}