body {
	background: #000;
}

* {
	color: #ddd;
}

textarea,
button,
#username,
#alert,
.settings h3,
.settings h4,
.settings .creator span,
.settings .creator a {
	background: #1a1a1a !important;
	color: #ddd;
}

button:hover {
	background-color: rgba(35,35,35,.8);
	color: #444;
}

button:active {
	background-color: rgba(35,35,35,.5);
}